name: Auto Update Firebase OTA

on:
  release:
    types: [published] # Chạy khi bạn nhấn "Publish release" trên GitHub

jobs:
  update-firebase:
    runs-on: ubuntu-latest
    steps:
      - name: Update Firebase Realtime Database
        run: |
          # 1. Lấy thông tin từ GitHub Release
          VERSION="${{ github.event.release.tag_name }}"
          # Link download file .bin dựa trên tên Repo và Tag của bạn
          URL="https://github.com/${{ github.repository }}/releases/download/${{ github.event.release.tag_name }}/firmware.bin"
          
          # 2. Gửi yêu cầu PATCH tới Firebase bằng REST API
          # Sử dụng Secret và URL bạn đã cài đặt trong Repository secrets
          curl -X PATCH "${{ secrets.FIREBASE_URL }}/update.json?auth=${{ secrets.FIREBASE_SECRET }}" \
          -d "{
                \"version\": \"$VERSION\",
                \"url\": \"$URL\",
                \"trigger\": false
              }"
