name: Tu Dong Build va Release Firmware

on:
  push:
    branches:
      - main  # Chạy mỗi khi bạn push code lên nhánh main

permissions:
  contents: write  # Cho phép GitHub Actions có quyền tạo bản Release

jobs:
  build_and_release:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Tai code tu GitHub ve may ao
        uses: actions/checkout@v4

      - name: 2. Cai dat Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: 3. Cai dat PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: 4. Bien dich Code (Build .bin)
        run: pio run

      - name: 5. Tu dong tao Release va upload file .bin
        uses: softprops/action-gh-release@v2
        with:
          # Tu dong dat ten phien ban theo so thu tu lan build (v1, v2, v3...)
          tag_name: v${{ github.run_number }}
          name: Firmware Robot Phien Ban v${{ github.run_number }}
          body: |
            Cap nhat tu dong tu GitHub Actions.
            - Build ID: ${{ github.run_id }}
            - File build: firmware.bin
          files: .pio/build/esp32doit-devkit-v1/firmware.bin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: 6. Cai dat Firebase CLI
        run: npm install -g firebase-tools

      - name: 7. Cap nhat link vao Firebase Realtime Database
        run: |
          # Dung curl de day thang len Database bang Secret ban dang co
          curl -X PATCH -d '{
            "latest_version": "${{ github.run_number }}",
            "url": "https://github.com/${{ github.repository }}/releases/download/v${{ github.run_number }}/firmware.bin"
          }' "${{ secrets.FIREBASE_URL }}/ota.json?auth=${{ secrets.FIREBASE_SECRET }}"