name: Tự động Build Firmware ESP32

on:
  push:
    branches:
      - main  # Chạy khi bạn gửi code lên nhánh chính

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Tải code từ GitHub về máy ảo
        uses: actions/checkout@v3

      - name: Cài đặt Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Cài đặt PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: Biên dịch Code (Build .bin)
        run: pio run

      - name: Lưu trữ file .bin sau khi build
        uses: actions/upload-artifact@v3
        with:
          name: Robot_Firmware
          path: .pio/build/esp32doit-devkit-v1/firmware.bin